html, body{
    height: 100% !important;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    flex: 1;
    display: flex;
    width: 100%;
    background-color: rgb(243, 185, 38);
}

.header h1{
    color: blue;
    margin: auto;
}

.country-box{
    flex: 1;  
    display: flex; 
    width: 100%;
    background-color: rgb(112, 207, 112);
    color: black;

}

.country-name{        
    margin: auto;
}

.flags{
    flex: 10;    
    background-color: rgb(228, 199, 86);
    overflow: scroll;
}

.flags-list{
    list-style-type: none;
}

.flags-list li{
    display: inline-block;
    margin: 5px;
}


.hide{
    display: none !important;
}